#control {
	margin: 5px 0px 0px 0px;
	text-align: center;
}

#left-button {
	margin-right: 10px;
}

table {
	width:  960px;
	height: 960px;
	border: 2px solid black;
	margin: 20px auto;
}

.square {
	height: 100%;
	background-color: black;
}

.entered {
	background-color: blue;
}
